

body {
background-image: url("/assets/img/Designer.png");
     
  }


  
  #color-changing-text {
  color: red; 
  transition: color 1s ease-in-out;
  font-size: 80px;

}

p {
  font-size: 80px;
text-align: center;
     color: white;
  
}
.button {
  background-color: #0074d9;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 140px;
    margin: 0 auto;
  border-radius: 25px;
}
